h1 {
  color: green;
}

.note {
  color: gray;
  padding-top: 5px;
  font-size: 15px;
}

.note button {
  font-size: 0.7rem;
  border: none;
}

.App {
  text-align: center;
}

.error {
  color: red;
  background-color: lightgray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.footer {
  color: green;
  font-style: italic;
  font-size: 16px;
}
